p {
    color: blue;
    font-style: italic;
    font-size: 50px;
}
li > b {
    color: green;
}
.xxx {
    color: green;
}
.zzz {
    color: blue;
}
.odd {
    color: red;
}
.eve {
    color: green;
}
.xxx {
    font-size: 30px;
}